[submodule "module/mod_freetype/lib/freetype"]
	path = module/mod_freetype/lib/freetype
	url = https://github.com/freetype/freetype.git
[submodule "cmake/light_presets"]
	path = cmake/light_presets
	url = https://github.com/lightsource-nz/light_presets.git
[submodule "module/mod_jansson/lib/jansson"]
	path = module/mod_jansson/lib/jansson
	url = https://github.com/akheron/jansson.git
