[submodule "module/mod_freetype/lib/freetype"]
	path = module/mod_freetype/lib/freetype
	url = git@github.com:freetype/freetype.git
[submodule "cmake/light_presets"]
	path = cmake/light_presets
	url = https://github.com/lightsource-nz/light_presets.git
[submodule "modules/libcrush_common/lib/jansson"]
	path = modules/libcrush_common/lib/jansson
	url = https://github.com/akheron/jansson.git
